"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

let mapleader = " "

" Highlight copied text
Plug 'machakann/vim-highlightedyajnk
" Commentary plugin
" 定義ジャンプをgdにマッピング
map gu <Action>(GotoDeclaration)

" インターフェースジャンプをgiにマッピング
nmap gs <Action>(GotoSuperMethod)

" 実装ジャンプをggにマッピング
nmap gi <Action>(GotoImplementation)

" <C-l>で次のスプリッタに移動
nmap <C-l> <Action>(NextSplitter)

" <C-h>で前のスプリッタに移動
nmap <C-h> <Action>(PrevSplitter)

" さっき見たファイルへの移動を<C-h>にマッピング
nmap <C-[> <Action>(Back)

" さっき見たファイルから進むを<C-l>にマッピング
nmap <C-]> <Action>(Forward)

" タブ移動を<C-o>にマッピング
nmap <C-j> <Action>(PreviousTab)

" タブ移動を<-u>にマッピング
nmap <C-k> <Action>(NextTab)

nmap [q <Action>(GotoPreviousError)
nmap ]q <Action>(GotoNextError)
gs <Action>(GotoSuperMethod)

" grで使用箇所を検索
nmap gr <Action>(FindUsages)

" <leader>ffですべてを検索
nmap <leader>ff <Action>(SearchEverywhere)

" <leader>fwでパス内を検索
nmap <leader>fa <Action>(FindInPath)

" <leader>cでコンテンツを閉じる
nmap <leader>c <Action>(CloseContent)

" <leader>bcでアクティブなエディタ以外を閉じる
nmap <leader>bc <Action>(CloseAllEditorsButActive)

" <leader>bCですべてのエディタを閉じる
nmap <leader>bC <Action>(CloseAllEditors)

" <leader>eでプロジェクトツールウィンドウをアクティブにする
nmap <leader>ls <Action>(ActivateProjectToolWindow)

" <leader>laでインテーションアクションを表示
nmap <leader>la <Action>(ShowIntentionActions)

" <leader>lsで構造ツールウィンドウをアクティブにする
nmap <leader>s <Action>(ActivateStructureToolWindow)

" <leader>lrで要素をリネーム
nmap <leader>lr <Action>(RenameElement)

" <leader>oでエディタから脱出
nmap <leader>o <Action>(EditorEscape)

" <leader>thでターミナルツールウィンドウをアクティブにする
nmap <leader>th <Action>(ActivateTerminalToolWindow)

" <leader>qですべてのウィンドウを非表示
nmap <leader>q <Action>(HideAllWindows)

" <leader>/で行コメントを挿入
nmap <leader>/ <Action>(CommentByLineComment)

" uで操作を取り消す（アンドゥ）
nmap u <Action>($Undo)

" 共通の単語を選ぶアクションを <C-g> にマッピング
nmap <C-g> <Action>(SelectAllOccurrences)

" 現在のファイルパスを表示するショートカット
map <C-p> :action ShowFilePath<CR>

" 現在のファイルを隣のウィンドウに移動
nmap <C-w> <Action>(MoveEditorToOppositeTabGroup)

" ファイルを閉じる
nmap <leader>wq :action CloseEditor<CR>

" 構造体の情報を出力
map <C-s> :action GotoTypeDeclaration<CR>

nmap <C-b> :action QuickJavaDoc<CR>
map <C-e> :action GuiDesigner.QuickJavadoc<CR>

" ファイル内検索を / にマッピング
nmap / <Action>(Find)

" ファイル内検索
nmap <Leader>f <Action>(FindInPath)

" クイックドキュメントを表示
nmap K <Action>(QuickJavaDoc)

" クイック定義を表示
nmap gy <Action>(ShowTypeDefinition)


" 構造ビューを表示
nmap <Leader>o <Action>(ActivateStructureToolWindow)

nmap gh <Action>(QuickDefinition)

