" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


" Source your .vimrc
source ~/.vimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyajnk
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start ebug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

vet mapleader = ' '
nnoremap <Leader>ev :<C-u>vsplit ~/.ideavimrc<CR>
nnoremap <Leader>sv :<C-u>source ~/.ideavimrc<CR>b

" 定義ジャンプをgdにマッピング
map gd <Action>(GotoDeclaration)

" インターフェースジャンプをgiにマッピング
map gi <Action>(GotoSuperMethod)

" 実装ジャンプをggにマッピング
map gg <Action>(GotoImplementation)

" さっき見たファイルへの移動を<C-h>にマッピング
map <C-h> <Action>(Back)

" さっき見たファイルから進むを<C-l>にマッピング
map <C-l> <Action>(Forward)

" タブ移動を<C-o>にマッピング
map <C-j> <Action>(PreviousTab)

" タブ移動を<-u>にマッピング
map <C-k> <Action>(NextTab)

" 次のエディタタブに移動
map <C-S-Right> <Action>(NextEditorTab)

" 前のエディタタブに移動
map <C-S-Left> <Action>(PreviousEditorTab)


" 隣のウィンドウへの移動を<C-w>にマッピング
map mw <Action>(MoveEditorToOppositeTabGroup)


" 隣に開いているウィンドウにカーソルを移動
map <C-w>h <Action>(VimWindowLeft)
map <C-w>j <Action>(VimWindowDown)
map <C-w>k <Action>(VimWindowUp)
map <C-w>l <Action>(VimWindowRight)


" iキーのInsertモード開始を無効化
unmap i

" Insertモードを開始するキーをaに変更
map a i

nmap [q <Action>(GotoPreviousError)
nmap ]q <Action>(GotoNextError)